################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sorting/quick-sort/obj/Release/netcoreapp3.1
